 @media screen and(min-width:300px)and (max-width:576px)
  {
    
.page-client{
    /* width:500px ;
    height:600px ; */
     background-color: aquamarine;
}
.client1{
    /* position: absolute;   */ 
   /* width:300px ;
   height:350px ; */
   background-color: rgb(4, 0, 255);
    margin-left:340px;
   margin-top:-490px;
}
 .page-client .hand {
    height:150px ;
    width:250px ; 
 }

  }
@media (max-width:500px) 

/* *body{
    padding: 0;
    margin: 0;
} */

     .page-client{
         width:5 00px ;
        height:600px ; 
        position: relative;
        width: 690px;
        padding: 50px 100px;
        z-index: -1 ;
       
    } 

    /* .page-client .hand{
        width: 100vw;
       
        background-color: brown;
        margin-left: 50px;
        z-index: 2;
    } */
    .page-client img{
        margin-left: 10px;
      
    }


.cont {
   /* background-color: blue; */
   
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    width: 782px;
   height: 100%;
    margin-left:-140px ;
   margin-top: -400px; 
   z-index: 3;
   
   
}

    .client1{
        
       width: 400px;
        background-color: re;
        margin-top: -220px;
    }
    .client1 p {
       
    }
    .client2{
        flex-direction: column; 
    } 

      .page-client .hand {
        height:350px ;
        width:250px ; 
       
     } 
}

